Prefer 3339 to 1123/822 date-time

Section: Keywords and text strings
https://www.w3.org/TR/2022/WD-png-3-20221025/#11keywords

> For the Creation Time keyword, the date format defined in section 5.2.14 of RFC 1123 is suggested, but not required [[rfc1123](https://www.w3.org/TR/2022/WD-png-3-20221025/#bib-rfc1123)].

The definition for the creation time format pointed to above is effectively an errata on RFC822. RFC822's format is not a paragon of internationalization. I18N generally prefers RFC3339 `date-time` as it is unambiguous and not tied to a specific language (English). Recent extensions used by some standards (but not yet codified as far as I can tell in an RFC) add serialization of the IANA time zone name which is superior to the use of offsets (and very very superior to the three letter codes).

Please consider replacing this recommendation with the use of 3339's format, possibly with extensions. You can still mention the RFC1123/RFC822 format as well. 

For reference: https://www.rfc-editor.org/rfc/rfc822#section-5.1

This will require a bit of follow-up research.
Although the spec says 1123/822 isn't required, some tooling may assume it is.
I'll look into it.

Additionally, there is no flag to indicate the format. I think that a parser could easily distinguish between 3339 and 1123/822. But I need to confirm this.

I found [one example in TCl to read a PNG timestamp](https://wiki.tcl-lang.org/page/Reading+PNG+Timestamps). It is example code, I don't think tooling is depending on it.

> Recent extensions used by some standards (but not yet codified as far as I can tell in an RFC) add serialization of the IANA time zone name which is superior to the use of offsets (and very very superior to the three letter codes).

Sure, and PNG (like RFC 3339) requires modification time in UTC not in the local time zone:

>> Universal Time (UTC) should be specified rather than local time.

So it would be more consistent for a format for creation time to also be in UTC.

@svgeesus noted:
> Sure, and PNG (like RFC 3339) requires modification time in UTC not in the local time zone:
> >        Universal Time (UTC) should be specified rather than local time.
> So it would be more consistent for a format for creation time to also be in UTC.

3339 allows for offset (but not true time zone) indication, e.g. `2007-01-01T01:00:00.000+01:00`, although UTC (`Z`) is certainly preferred (hence the **should**). FWIW, here's a reference to some of the other serializations, including the proposed ones I mentioned before: [Working with Timezones draft](https://w3c.github.io/timezone/#serializations)

@ProgramMax Certainly the difference is detectable and PNG could allow for both. Currently the spec "suggests" the 1123/822 format, which might be effectively normative (there being no other options on offer). Perhaps PNG should require support for either (1123/822 for compatibility with implementations that read the "suggestion" and 3339 as a better alternative), perhaps while still allowing non-standard gorp to appear. 

Perhaps:

> For the Creation Time keyword, the date format SHOULD be in the RFC3339 date-time format or in the date format defined in section 5.2.14 of RFC 1123. The RFC3339 date-time format is preferred. The actual format of this field is undefined.

@ProgramMax any reason not to just add the text suggested by @aphillips ?

Sorry I've put this off for so long. Looking into it now.

Should we also worry about the tIME chunk? https://www.w3.org/TR/2022/WD-png-3-20221025/#11tIME

I created a PNG with both a tIME chunk and tEXt chunk containing creation time in RFC 1123.
The tIME chunk is unsafe to copy if not understood by the editor. The tEXt chunk is.

After opening that image and saving it in these editors, I got these results:

- Windows Photos app, Save As: Opens fine, saved unedited with both chunks maintained
- Windows Photos app, edit something, Save As: Opens fine again, dropped both chunks
- Microsoft Paint: Opens fine, kept both chunks
- Microsoft Paint, edit something, Save As: Opens fine, keeps both chunks **but doesn't update the last modified tIME chunk, thus ignoring the "unsafe to copy" flag**
- Microsoft Snipping Tool, Save As: Opened fine, dropped both chunks, extra data past the end of IEND
- Photoshop, Quick export to PNG: Opened fine, dropped both chunks
- Photoshop, Export As w/ metadata included: Opened fine again, dropped both chunks, added iTXt chunk with XMP
- Illustrator, Save for Web (legacy): Opened fine, dropped both chunks, added tEXt of type "Software" with value "Adobe ImageReady"
- Illustrator, Export As: Opened fine again, dropped both chunks
- Acrobat, new doc, Add Image, Export To Image: Opened fine, dropped both chunks
- Lightroom: Opened fine
- Premiere Pro: Imported fine
- Premiere Rush: Imported fine
- After Effects: Opens fine
- Lightroom Classic: Opens fine, weird behavior around time metadata described below in *
- Photoshop Express: Opens fine
- Gimp 2.10.32 (revision 1): Opens fine, doesn't seem to understand/preserve tEXt. Overwrites tIME with its own last modified time




* I had set both tIME and tEXt chunks to the same time. Lightroom Classic loaded metadata but seemed to show the wrong dates & time. I then altered the file so tIME was yesterday and tEXt the day before. Lightroom Classic noticed the file had changed and prompted me to reload metadata from disk. When I chose this, Lightroom Classic showed the correct time and date, except it was today. It is as if I had loaded the last version of the file. I double checked this behavior by changing the times (not just dates), reloading the metadata, and again seeing today but now seeing the wrong times. It is possible Lightroom Classic doesn't handle RFC 1123.

Of this list, the only programs that seemed to care about the time/date formatting were:

- Windows Photos app
- Microsoft Paint
- Lightroom Classic


So I made a PNG with tEXt "Creation Time" in 3339 and ran it through those programs:

- Windows Photos app, Save As: Opens correctly still, leaves tEXt unaltered.
- Microsoft Paint, edit something, Save As: Opens correctly still, leaves tEXt unaltered.
- Lightroom Classic: Looks like it actually ignores the metadata and the "create date/time" is actually when I import the file to Lightroom.


So what all this means is: I think we can move to 3339 as a recommendation. I didn't find an app which assumes 1123/882.

Paint.net discards the tEXt chunk.

Would be closed by https://github.com/w3c/PNG-spec/pull/289

@aphillips please confirm for the record that this resolves your comment?

I am *satisfied* by the change. Thank you! 